.main-container {
  max-height: 700px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .close-icon {
    margin-top: 20px;
    align-self: flex-end;
    color: var(--text-color-secondary);
    cursor: pointer;
    ::ng-deep {
      svg {
        height: 20px;
        width: 20px;
      }
    }
  }
  .prod-container {
    border: 1px solid var(--text-color-secondary);
    border-radius: 20px;
    .submit {
      margin-top: 20px;
      border-top: 1px solid var(--text-color-secondary);
      display: flex;
      flex-direction: column;

      .submit-button {
        align-items: center;
        justify-content: center;
        margin: 10px;
        width: 95%;
        height: 50px;
        background-color: var(--primary-color);
        color: var(--text-color-tertiary);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
